<footer class="border-top">
  <div>
    <div>
    </div>
    <div>
      <h5>Features</h5>
      <ul>
      </ul>
    </div>
    <div>
      <h5>Resources</h5>
      <ul>
      </ul>
    </div>
    <div>
      <h5>About</h5>
      <ul>
      </ul>
    </div>
  </div>
</footer>